#pageInfo {
	padding:0px 0px 0px 0px;
	float:left;
    border-style: solid;
    border-width: 2px 2px 2px 0px;
    border-color: black;

}

#pageGuide {
    padding:0px 0px 0px 0px;
    float:right;
    border-style: solid;
    border-width: 2px 0px 2px 2px;
    border-color: black;

}

#ourOpenseadragon {
    height: 700px; 
    border-color: black;
    border-width: 2px;
    padding: 0px 0px 50px 0px;
}


.viewer-icon
{
    height:20px;
    color:grey;
    cursor: pointer;
}

#pageInfo strong {
	font-weight: bold;

}

#pageGuide strong {
    font-weight: bold;
}

#pageInfo #pageArticlesList {
	max-height: 230px;
	overflow-y: auto;
}

#pageGuide #closeArticlesList {
    max-height: 590px;
    overflow-y: auto;
}

#infoHidden {
	float:left;
	display:none;
	background-color: black;
	width:55px;
	padding:3px 0px 3px 25px;
    border-radius:0px 2px 2px 0px;
    cursor:  pointer;
}

#guideHidden{
    float:right;
    display:none;
    background-color: black;
    width:55px;
    padding:3px 0px 3px 10px;
    border-radius:2px 0px 0px 2px;
    cursor:  pointer;
}

#articleList:hover{
	cursor:  pointer;
	text-decoration: underline;
}

#hideInfo {
    float: right;
    background-color: black;
    padding:2px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    cursor:pointer; 
    color: white;

}

#hideGuide {
    float: left;
    background-color: black;
    padding:2px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    cursor:pointer; 
    color: white;
}


#infoCurrentArticle {
    height: 90px;
    overflow-y: auto;
}

#otherPage {
    color: black;
}

#backSearch {
    margin: -10px 0px 10px 0px;
    /*background-color: black;*/
}

.section {
    /*background-color: #E0FFFF;*/
    padding:10px;

    margin:10px 10px 10px 10px;
    border-style: solid;
    border-width: 2px;
    /*border-color: black;*/
}


.overlayArt {
	border-style: solid;
	border-width: 10px;
	opacity:0.5;
	border-color: black;
}

.overlay1 {
    opacity:0.3;
    background-color: yellowgreen;
}

.overlay2 {
    opacity:0.3;
    background-color: yellow;
}

.overlay3 {
    opacity:0.3;
    background-color: red;
}

.overlay4 {
    opacity:0.3;
    background-color: green;
}

.overlay5 {
    opacity:0.3;
    background-color: orange;
}

.overlay6 {
    opacity:0.3;
    background-color: blue;
}

.overlay7 {
    opacity:0.3;
    background-color: cyan;
}

.overlay8 {
    opacity:0.3;
    background-color: purple;
}

.overlay9 {
    opacity:0.3;
    background-color: magenta;
}

.overlay0 {
    opacity:0.3;
    background-color: orangered;
}

.not-active {
   pointer-events: none;
   cursor: default;
   color: #C0C0C0;
}

#choice {
    margin: 10px;
    border-style: solid;
    border-color: #E6E6FA;
    padding-bottom: 5px;
}

#created {

}

#contributed {

}

#searchReview {

}

#newReview{
    padding-top: 0px;
    padding-bottom: 0px
}