#pageInfo {
	background-color: #E6E6FA;
	padding:10px;
	float:left;

}

#pageGuide {
    background-color: #E6E6FA;
    padding:10px;
    float:right;

}

#viewer{

}

.viewer-icon
{
    height:20px;
    color:blue;
}

#pageInfo strong {
	font-weight: bold;

}

#pageGuide strong {
    font-weight: bold;
}

#pageInfo #pageArticlesList {
	max-height: 150px;
	overflow-y: auto;
}

#pageGuide #closeArticlesList {
    max-height: 530px;
    overflow-y: auto;
}

#infoHidden {
	float:left;
	display:none;
	background-color: #E6E6FA;
	width:55px;
	padding:10px 0 10px 0;
}

#guideHidden{
    float:right;
    display:none;
    background-color: #E6E6FA;
    width:55px;
    padding:10px 10px 10px 10px;
}

#infoHidden button{
	margin-left: 10px;
}

#guideHidden button{
    margin-right: 10px;
}

#articleList:hover{
	cursor:  pointer;
	text-decoration: underline;
}

#otherPage {
    cursor:  pointer;
}

#infoCurrentArticle {
    max-height: 120px;
    overflow-y: auto;
}


.overlayArt {
	border-style: solid;
	border-width: 10px;
	opacity:0.5;
	border-color: black;
}

.overlay1 {
    opacity:0.3;
    background-color: yellowgreen;
}

.overlay2 {
    opacity:0.3;
    background-color: yellow;
}

.overlay3 {
    opacity:0.3;
    background-color: red;
}

.overlay4 {
    opacity:0.3;
    background-color: green;
}

.overlay5 {
    opacity:0.3;
    background-color: orange;
}

.overlay6 {
    opacity:0.3;
    background-color: blue;
}

.overlay7 {
    opacity:0.3;
    background-color: cyan;
}

.overlay8 {
    opacity:0.3;
    background-color: purple;
}

.overlay9 {
    opacity:0.3;
    background-color: magenta;
}

.overlay0 {
    opacity:0.3;
    background-color: orangered;
}

.not-active {
   pointer-events: none;
   cursor: default;
   color: #C0C0C0;
}