.viewer-icon
{
    height:20px;
    margin-right:5px;
}

.toolbar{
    height:50px;
}

#pageInfo, #pageGuide {
	/*#d4dff3*/
    position:absolute;
    width:15%;
    z-index:100;
    background-color:white;
    margin-top:50px;
    height:700px;
    /*overflow-y:auto;*/
    /*background-color:#ffeadc;*/
}

#pageInfo a, #pageInfo a:active, #pageInfo a:focus{
    color:black;
    text-decoration: underline;
}

#pageGuide {
    right:0;
}

#infoHidden, #guideHidden{
    display:none;
    position:absolute;
    z-index:150;
    margin-top:50px;
    background-color:black;
    color:white;
    font-size:30px;
    cursor:  pointer;
}

#infoHidden img, #guideHidden img{
    height:25px;
}

#guideHidden{
    right:0;
}

#ourOpenseadragon {
    height: 700px;
}

#pageInfo strong {
	font-weight: bold;

}

#pageGuide strong {
    font-weight: bold;
}

#pageInfo #pageArticlesList {
	max-height: 200px;
	overflow-y: auto;
}

#pageGuide #closeArticlesList {
    max-height: 450px;
    overflow-y: auto;
}
.articleListContainer{
    background-color:#d4dff3;
    margin-bottom:5px;
    padding:5px;
}
.articleListItem:hover{
	cursor:  pointer;
	text-decoration: underline;
}
.articleListItem{
    margin-bottom:5px;
}
.articleListItem div{
    width:40px;
    height:40px;
    text-align: center;
    vertical-align: middle;
    line-height:40px;
    font-size:20px;
    border:1px solid black;
    color:black;
    float:left;
    margin-right:5px;
    font-weight:bold;
}

#hideInfo, #hideGuide {
    float: right;
    background-color: black;
    padding:4px;
    cursor:pointer; 
    color: white;
}
#hideInfo
{
    float:right;
}
#hideGuide{
    float:left;
}
#hideInfo img, #hideGuide img{
    height:15px;
}


#infoCurrentArticle {
    /*max-height: 120px;*/
    overflow-y: auto;
}

#otherPage {
    color: black;
}

#backSearch {
    margin: -10px 0px 10px 0px;
}

.headinfo{
    font-style: italic;
}

.headinfo img{
    height:30px;
    float:left;
    margin-right:5px;
}

.section {
    margin:10px;
}

.sectiontitle{
    padding: 5px;
}

.sectiontitle img{
    height:20px;
}

.overlayArt {
	border-style: solid;
	border-width: 10px;
	opacity:0.5;
	border-color: black;
}

.overlay1 {
    opacity:0.3;
    background-color: yellowgreen;
}

.overlay2 {
    opacity:0.3;
    background-color: yellow;
}

.overlay3 {
    opacity:0.3;
    background-color: red;
}

.overlay4 {
    opacity:0.3;
    background-color: green;
}

.overlay5 {
    opacity:0.3;
    background-color: orange;
}

.overlay6 {
    opacity:0.3;
    background-color: blue;
}

.overlay7 {
    opacity:0.3;
    background-color: cyan;
}

.overlay8 {
    opacity:0.3;
    background-color: purple;
}

.overlay9 {
    opacity:0.3;
    background-color: magenta;
}

.overlay0 {
    opacity:0.3;
    background-color: orangered;
}

.not-active {
   pointer-events: none;
   cursor: default;
   color: #C0C0C0;
}

#addpressreview
{
    margin-bottom:10px;
}

#newReview{
    padding-top: 0px;
    padding-bottom: 0px
}

.customScrollbar::-webkit-scrollbar-track
{
    background-color: white;
}

.customScrollbar::-webkit-scrollbar
{
    width: 10px;
    background-color: white;
}

.customScrollbar::-webkit-scrollbar-thumb
{
    background-color: black;
    border: 2px solid black;
}

#pressReviewPlayer{
    text-align:center;
}
#pressReviewPlayer h4{
    display:inline;
}