.toolbar{
    height:50px;
}

#pageInfo, #pageGuide {
	/*padding:0px 0px 0px 0px;
	float:left;
    border-style: solid;
    border-width: 2px 2px 2px 0px;
    border-color: black;*/
    position:absolute;
    width:15%;
    z-index:100;
    background-color:white;
    margin-top:50px;
    display:none;
}

#pageGuide {
    right:0;
}

#infoHidden, #guideHidden{
    /*
    padding:3px 0px 3px 25px;
    border-radius:0px 2px 2px 0px;
    */
    position:absolute;
    z-index:150;
    margin-top:50px;
    background-color:black;
    color:white;
    font-size:30px;
    cursor:  pointer;
}

#infoHidden img, #guideHidden img{
    height:25px;
}

#guideHidden{
    right:0;
}

#ourOpenseadragon {
    height: 700px;
}

#pageInfo strong {
	font-weight: bold;

}

#pageGuide strong {
    font-weight: bold;
}

#pageInfo #pageArticlesList {
	max-height: 200px;
	overflow-y: auto;
}

#pageGuide #closeArticlesList {
    max-height: 590px;
    overflow-y: auto;
}

#articleList:hover{
	cursor:  pointer;
	text-decoration: underline;
}

#hideInfo {
    float: right;
    background-color: black;
    padding:2px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    cursor:pointer; 
    color: white;
}

#hideInfo img, #hideGuide img{
    height:20px;
}

#hideGuide {
    float: left;
    background-color: black;
    padding:2px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    cursor:pointer; 
    color: white;
}


#infoCurrentArticle {
    max-height: 120px;
    overflow-y: auto;
}

#otherPage {
    color: black;
}

#backSearch {
    margin: -10px 0px 10px 0px;
}

.section {
    padding:10px;
    margin:10px 10px 10px 10px;
}

.overlayArt {
	border-style: solid;
	border-width: 10px;
	opacity:0.5;
	border-color: black;
}

.overlay1 {
    opacity:0.3;
    background-color: yellowgreen;
}

.overlay2 {
    opacity:0.3;
    background-color: yellow;
}

.overlay3 {
    opacity:0.3;
    background-color: red;
}

.overlay4 {
    opacity:0.3;
    background-color: green;
}

.overlay5 {
    opacity:0.3;
    background-color: orange;
}

.overlay6 {
    opacity:0.3;
    background-color: blue;
}

.overlay7 {
    opacity:0.3;
    background-color: cyan;
}

.overlay8 {
    opacity:0.3;
    background-color: purple;
}

.overlay9 {
    opacity:0.3;
    background-color: magenta;
}

.overlay0 {
    opacity:0.3;
    background-color: orangered;
}

.not-active {
   pointer-events: none;
   cursor: default;
   color: #C0C0C0;
}

#choice {
    margin: 10px;
    border-style: solid;
    border-color: #E6E6FA;
    padding-bottom: 5px;
}

#created {

}

#contributed {

}

#searchReview {

}

#newReview{
    padding-top: 0px;
    padding-bottom: 0px
}